/* --------------------------------
------------ HEADER --------------- 
----------------------------------*/

.flexible{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.flexible h1{
    font-size: 1.6em;
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.2em;
    display: inline-block;
    position: relative;
    align-self: center;
    margin: 0;
    padding: 20px;
    flex-grow: 1;
    
}

.flexible h1 a, flexible h1 a:visited{
    list-style-type: none;
    text-decoration: none;
    color: #212429;
}

#logo{
    align-self: center;
}

#logo img{
    width: 107px;
    height: 101px;       
}
.nav{
    display: inline-block;
    align-self: flex-end;
    font-family: Lato, sans-serif;
    
}

.nav ul li{
    display: inline-block;
    margin: 20px;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    list-style-type: none;
    padding: 10px;
}

.nav ul li:hover{
    background-color:#E8D699;
    opacity: 0.8;
   
}

nav ul li a{
    text-decoration: none;
    
    color: #212429;
    }
ul{
    list-style: none;
    }

/* ----------------------------------
------------ BODY -------------------
---------------------------------- */
main{
    font-family: Lato, sans-serif;
    background-color: #E8D699;
    margin-bottom: 0;
}

.banner{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-height: 360px;
  background: wheat
    url("../images/backroundC-min.jpg") no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: lightyellow;
    
}

.banner h2{
    margin-left: 30px;
}
.banner p{
    margin-left: 30px;
    font-size: 1.4em;
    font-weight: 300;
}

.galery{    
  
    margin-top: 50px;
    padding: 0;  
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    width: 100%;

}

.image{    
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;     
    
}

.image img{    
    width: 100%;    
}

.texto{
    text-align: center;
    background-color: #212429;
    color: lightgoldenrodyellow;
    opacity: 0.6;
    padding: 10px 50px;
    margin: 10px 0;
    border-radius: 20px;
    text-decoration: none;
    list-style-type: none;

    
}
/********************************
*********** CAPPUCCIO ***********
********************************/

.banner-cappuccio{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-height: 360px;
    background: wheat
      url("../images/DSC_0313-min.jpg") no-repeat
      center / cover;
    background-blend-mode: luminosity;
    color: lightyellow;      
  }

  .banner-cappuccio h2{
    margin: 0 30px;
  }
  .banner-cappuccio p{
      margin: 30px;
      font-size: 1.4em;
      font-weight: 300;

  }

  .contento {
  margin: 0 30px;
  padding: 10px;
  color: #212429;
  
    }
.contento p a, .contento p a:visited{
    text-decoration: none;
    color: #212429;  
}

.contento p a:hover{
background-color: #212429;
color: #E8D699;
opacity: 0.8;
border-radius: 4px;
}

/********************************
*********** Vida **************
********************************/

.banner-vida{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-height: 360px;
    background: wheat
      url("../images/DSC_0285-min.jpg") no-repeat
      center / cover;
    background-blend-mode: luminosity;
    color: lightyellow;    
}

.banner-vida h2{
    margin: 30px;
}

.block{
    margin: 30px;
    width: 70%;
    text-indent: 10px;
}

.contento p{
    text-indent: 10px;
}

/********************************
*********** MENU **************
********************************/
.banner-menu{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-height: 360px;
    background: wheat
      url("../images/DSC_0289-min.jpg") no-repeat
      center / cover;
    background-blend-mode: luminosity;
    color: lightyellow;    
}

.menu{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin:  15px;
    padding: 10px ;
    font-size: 1em;
    line-height: 2em;
    align-self: center;
}

.menu ul{
    display: block;
    width: 200px;
    background-color: #212429;
    opacity: 0.8;
    color: #E8D699;
    border-radius: 24px;
    padding: 30px ;
    align-self: center;
}

.menu h4{
    font-variant: small-caps;
    letter-spacing: 0.2em;
    font-size: 1.4em;
}

/********************************
*********** CONTACT **************
********************************/

.flexible-contact{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
    padding: 10px;
}
.flexible-contact p{
    display: block;
    margin: 50px 20px 0 0;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: 400;

}
.flexible-contact ul{
    display: block;
    line-height: 1.4em;
    
    
}
.flexible-contact ul li a{
    text-decoration: none;
    color: #212429;
    padding: 5px;
}

.flexible-contact ul li a:hover{
    
    background-color: lightyellow;
    border-radius: 5px;
}

.flexible-column{
    display: flex;
    flex-direction:row;
    
}
/********************************
*********** FOOTER **************
********************************/

#page-footer{
    background-color:  #212429;
    min-height: 50px;
    margin: 0;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 30px;
}

#page-footer a{
    text-decoration: none;
    
    color: lightgoldenrodyellow;
    }

/********************************
*********** MEDIA QUERY *********
********************************/
@media all and (max-width: 540px) , (orientation: portrait) {

.logo img{
    width: 300px;
    height: 300px;
    transition: width 0.4s ease-out;
}
.flexible {
    flex-direction:column;
    align-self: center;
}

.nav {
    align-self: center;
}

.nav ul li{
    
    margin: 10px;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 1.2em;
    list-style-type: none;
    padding: 10px;
    
}

.image a{
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    margin: 0;
}

.menu{
    display: flex;
    flex: 1;
    justify-content: center;
    margin:  0px;
    padding: 0px ;
    font-size: 1em;
    line-height: 2em;
    align-self: center;
}


}